doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    link(href='//getbootstrap.com/examples/dashboard/dashboard.css' rel='stylesheet')
    script(src='/js/jquery-2.2.0.min.js' )
    script(src='/js/bootstrap.min.js' )
    body.container
    block content
    block otherScripts

