doctype html
html
    head
    body
        div#header.header
            div.button
                span.test
            div.button
                span.pictures
            div.button
                span.results
        div#content.content
            table
        div#bottom.bottom
