body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img.img-fullsize {
  width: 100px;
}

.input-spec{
 width: 80% !important;
}
input{
    margin-right: 5px !important;
}